body {
	overflow:auto;
	font-family: 'Lato', sans-serif;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-image:url(../background.jpg);
	background-size:cover;
	width:60%;
	height:60%;
}
 
@font-face {
    font-family: gtafont;
    src: url(pricedown_bl.ttf);
}

.tholder { 
background-color:rgba(89, 92, 96, 0.3);
padding:5%;
margin:auto;
width:120%;
margin-left:15%;
}

.dealbox {
margin:auto;	
margin-left:0;
margin-bottom:50px;
width: 54%;
border:solid black 2px;
border-radius:20px;
padding:40px;
background-color:rgba(89, 92, 96, 0.6);
}

.dealinfo {
	margin:auto;
	width:65%;
	font-size:350%;
		font-family: 'gtafont';
}

.dealimg {
	height:50%;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.20);
	margin:auto;
}

ul {
	font-family: 'Lato', sans-serif;
    list-style-type: none;
	background: rgba(0, 0, 0, 0.70);
    line-height: 36px;
    width: 50%;
    font-weight: 600;
    color: #fff;
    margin: 10px auto;
    text-transform: uppercase;
    padding: 5%;
	font-size:35%;
	margin-bottom:50px;
}

.sidebox {
	width:34%;
	height:auto;
	float:right;
	font-size:100%;
	margin-right:2%;
	margin:auto;
	background-color:rgba(0, 0, 0, 0.40);
	color:white;
	padding:1%
}

@media (max-width: 900px) {
	.dealinfo {
		font-size: 35px;
	}
	.ul {
		font-size:15px;
	}
	
	.sidebox {
		font-size:15px;
	}
}
}
